.itemCard {
  display: flex;
  position: relative;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  width: 325px;
  height: 325px;
}

.itemCard__title{
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  gap: 10px;
  position: absolute;
}

.itemCard__title_wrapper {
  background: rgba(255, 255, 255, 1);
  border-radius: 4px;
}

.itemCard__title_text {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  opacity: 0.6;
  padding: 2px 12px 2px 12px;
}

.itemCard__like{
  width: 18px;
  height: 15px;
  align-self: center;
  object-fit: contain;
}

.itemCard__image {
  max-width: 100%;
}
