.weatherCard {
  position: relative;
  max-width: 1360px;
  min-width: 100%;
  height: 80px;
  background-color: rgb(87, 151, 255);
  border-radius: 15px;
  overflow: hidden;
}

.weatherCard__image {
  position: absolute;
  right: 0px;
  clip-path: inset(0);
}

.weatherCard__temperature {
  margin: 0;
  font-size: 36px;
  line-height: 40px;
  color: white;
  padding: 20px 0 20px 16px;
}
